.navbar {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.navbardiv {
    display: flex;
    justify-self: center;
    gap: 35px;
    flex-direction: row;
}

.homepage {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile {
    padding: 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.about {
    padding: 15px;
    align-items: center;
    font-size: large;
    margin: 0 auto;
    width: 600px;
    line-height: 35px;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px
}

a {
    text-decoration: none;
    color: grey;
}

.work {
    padding-top: 45px;
    border: 1px solid;
    padding: 20px;
    box-shadow: 3px 3px #888888;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 750px;
}

.timeline {
    padding-top: 45px;
    border: 1px solid;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    margin-top: 15px;
    width: 850px;
}

.achieve {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 900px;
    gap: 20px;
    size: 15px;
    border-color: white;
    font-weight: 500;
    font-size: larger;
}

.res {
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
}

.box {
    border: 1px solid;
    padding: 20px;
    box-shadow: 3px 4px #888888;
    border-radius: 15px;
}

.abox {
    border: 1px solid;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.achieve {
    padding-top: 45px;
    padding-bottom: 15px;
    /* margin: 0 auto; */
     display: flex;
    justify-content: space-around;
}


.achievem {
    padding-left: 350px;
    display: flex;
    justify-content: space-around;
}

.projs {
    padding-top: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 15px;
}

.pbox {
    width: 900px;
    margin: 0 auto;
    border: 1px solid;
    padding: 30px;
    border-radius: 15px;
    
}

.header {
    cursor: pointer;
}

.ts {
    border: 1px solid;
    border-color: white;
    border-radius: 15px;
    margin:15px;
    padding:5px;
    align-items: center;
    justify-content: center;
}

.techstack {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 15px 340px;
    flex-wrap: wrap;
}

.link {
    color: yellow;
    text-decoration: underline;
}

.soclink {
    color: white;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.codingprofile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
}